.navigationbar{
    position:sticky;
    top:0;
    left:0;
    z-index: 10;
    background-color: rgb(0,0,0,0);
}

.container{
    background-color: rgb(0,0,0,0);
}

.button:hover{
    background-color:orange;
    color: black;
}